<p>Sélectioner les fichiers à importer</p>

<mat-form-field>
  <ngx-mat-file-input placeholder="Fichier à importer" (change)="onChange($event.target.files)"></ngx-mat-file-input>
  <mat-icon matSuffix>folder</mat-icon>
</mat-form-field>
<p *ngIf="importProgress">Import en cours.</p>
<p *ngIf="importFinish">Import fini.</p>
<div>
  <button mat-raised-button color="warn" (click)="callDeleteData()">Effacer les données</button>
</div>
<h2>
  Données :
</h2>
<p>Nombre de ligne {{ linecount | async }}</p>
<p *ngIf="limits | async as limitval">Du {{ limitval.first | date }} au {{ limitval.last | date }}</p>

<app-tip-table [update]="dataUpdated"></app-tip-table>
