<mat-card>
  <mat-card-content>
    <p>
      Pour faire les graphique de statistique il est nécessaire d'importer les données télécharger depuis ce chaturbate
      à cette url
      <a href="https://fr.chaturbate.com/tipping/csv/history/" target="_blank" rel="noopener"
        >https://fr.chaturbate.com/tipping/csv/history/</a
      >
    </p>

    <ul>
      <li>
        Cliquer sur le lien
        <a href="https://fr.chaturbate.com/tipping/csv/history/" target="_blank" rel="noopener"
          >https://fr.chaturbate.com/tipping/csv/history/</a
        >, celà va télécharger les données du dernier mois depuis chaturbate dans un fichier "transactions.csv".
      </li>
      <li>
        Cliquer sur "Fichier à importer" ci dessous pour le charger dans l'application (celà peut prendre quelques
        minutes).
      </li>
      <li>
        Puis selectionner à gauche le graphique souhaité.
      </li>
      <li>
        Si c'est un ordinateur partagé, n'oubliez pas de cliquer sur "Effacer les données" une fois que vous avez fini.
      </li>
    </ul>

    <p>Toutes les données sont stocké en local dans le navigateur, rien n'est envoyé sur internet.</p>
    <p>Vous pouvez charger plusieurs fichier un après l'autre.</p>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <mat-card-title>Import</mat-card-title>
  <mat-card-content>
    <p>Sélectioner les fichiers à importer</p>

    <mat-form-field>
      <ngx-mat-file-input
        accept=".csv"
        placeholder="Fichier à importer (transactions.csv)"
        (change)="onChange($event.target.files)"
      ></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
    <p *ngIf="importProgress"><mat-spinner></mat-spinner> Import en cours.</p>
    <p *ngIf="importFinish">Import fini.</p>
    <div>
      <button mat-raised-button color="primary" (click)="callExport()">Exporter les données</button>
      <button mat-raised-button color="warn" (click)="callDeleteData()">Effacer les données</button>
    </div>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <mat-card-title>
    Données :
  </mat-card-title>
  <mat-card-content>
    <p>Nombre de ligne {{ linecount | async }}</p>
    <p *ngIf="limits | async as limitval">Du {{ limitval.first | date }} au {{ limitval.last | date }}</p>

    <app-tip-table [update]="dataUpdated"></app-tip-table> </mat-card-content
></mat-card>
