<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{ row.date | date: 'medium' }}</td>
    </ng-container>

    <ng-container matColumnDef="tokenChange">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction</th>
      <td mat-cell *matCellDef="let row">{{ row.tokenChange }}</td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Utilisateur</th>
      <td mat-cell *matCellDef="let row">{{ row.user }}</td>
    </ng-container>

    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tip note</th>
      <td mat-cell *matCellDef="let row">{{ row.note }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- [length]="dataSource?.data.length"-->
  <mat-paginator
    #paginator
    [length]="dataLength | async"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]"
  >
  </mat-paginator>
</div>
