<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/import']" routerLinkActive="list-item-active">Import ficher</a>
      <a mat-list-item [routerLink]="['/byuser']" routerLinkActive="list-item-active">Graph par utilisateur</a>
      <a mat-list-item [routerLink]="['/bydate']" routerLinkActive="list-item-active">Graph par date</a>
      <a mat-list-item [routerLink]="['/byweekday']" routerLinkActive="list-item-active"
        >Graph par jour de la semaine</a
      >
      <a mat-list-item [routerLink]="['/bytipsize']" routerLinkActive="list-item-active">Graph par taille de tip</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>CB stats</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
