<mat-card>
  <mat-card-content>
    <form class="config-contener" [formGroup]="graphOptions">
      <section>
        <label>Type de vue : </label>
        <mat-radio-group formControlName="typeUser">
          <mat-radio-button value="modele">Vue modèle (gain de token)</mat-radio-button>
          <mat-radio-button value="tipper">Vue tipper (envoie de token)</mat-radio-button>
        </mat-radio-group>
      </section>
      <section>
        <label>Type de graphique :</label>
        <mat-radio-group formControlName="chartType">
          <mat-radio-button value="bar">Barres</mat-radio-button>
          <mat-radio-button value="line">Lignes</mat-radio-button>
        </mat-radio-group>
      </section>
    </form>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<div class="graph">
  <canvas
    baseChart
    [datasets]="chartDataSets"
    [labels]="chartLabels"
    [type]="chartType"
    [options]="chartOptions"
    [legend]="chartLegend"
  ></canvas>
</div>
