.config-contener {
  section {
    display: flex;
    align-content: center;
    align-items: center;
    //  height: 4rem;
  }
  mat-radio-button,
  mat-form-field {
    margin: 0 10px;
  }
}

.graph {
  display: flex;
  justify-content: center;
  height: calc(100dvh - var(--mat-toolbar-standard-height));
}
